@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F8FAFC] text-[#1E293B] font-sans m-0 p-0 h-screen overflow-hidden;
  }
}

@layer components {
  .glass-panel {
    @apply bg-white/80 backdrop-blur-xl opacity-95;
  }
}

/* Custom premium scrollbars */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #F1F5F9;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}